<header><h1>Demos</h1></header>
<section>
    <p>List of demos</p>
    <ul>
        <li><a href="#/demos/draggable">Draggable</a></li>
        <li><a href="#/demos/draganddrop">Drag & Drop</a></li>
    </ul>
</section>
<footer>
    <p>Copyright 2014 by Robusta Code. All Rights Reserved.</p>
</footer>

