<demo-box color="black" top="15" left="30" width="100" height="100" isdraggable="true"></demo-box>
<demo-box color="blue" top="15" left="160" width="100" height="100" isdraggable="true"></demo-box>
<demo-box color="pink" top="15" left="290" width="100" height="100" isdraggable="true"></demo-box>
<demo-box color="green" top="150" left="30" width="200" height="200" isdroppable="true"></demo-box>
<demo-box color="brown" top="150" left="260" width="200" height="200" isdroppable="true"></demo-box>

<footer id="footer"><p>Drang & drop demos</p></footer>

