<demo-box color="black" top="15" left="30" width="100" height="100" demo-draggable></demo-box>
<demo-box color="blue" top="15" left="160" width="100" height="100" isdraggable="true"></demo-box>


<footer id="footer"><p>Draggable demos</p></footer>