
.box {
    position: absolute;
    font-size: 18px;
    line-height: 30px;
    border-radius: 6px;
    color: #fff;
}

.bigbox {
    position: absolute;
    font-size: 18px;
    line-height: 30px;
    border-radius: 6px;
    color: #fff;
}

.bigbox p,
.box p{
    width: 95%;
    margin: 20px auto;
    text-align: center;
}

.dragOver {
    background-color: darkgrey !important;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

